@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;

  --muted: #f3f4f6;
  --ring: #3b82f6;
}

.dark {
  --background: #0a0a0a;
  --foreground: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-ring: var(--ring);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-script: var(--font-dancing-script);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
